@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-backgroundblack
}

.flowin {
  overflow-x: hidden;
}


@keyframes split {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50vh);
  }
  100% {
    transform: translateY(-100vh);
  }
}

@keyframes split-reverse {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50vh);
  }
  100% {
    transform: translateY(100vh);
  }
}

@keyframes pulse-slow {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hr-gradient {
  background: radial-gradient(circle, rgba(226,226,226,1) 50%, rgba(0,0,0,0) 80%);
}

.animate-split {
  animation: split 1s ease forwards;
}

.animate-split-reverse {
  animation: split-reverse 1s ease forwards;
}

.animate-pulse-slow {
  animation: pulse-slow 2s infinite;
}

.comic_btn {
  box-shadow: -5px 8px 0px 1px rgb(225, 14, 14);
}

.comic_btn:hover {
  box-shadow: -10px 10px 0px 1px rgb(225, 14, 14);
}
.comic_btn_inv {
  box-shadow: -5px 8px 0px 1px rgb(14, 102, 225);
}

.comic_btn_inv:hover {
  box-shadow: -10px 10px 0px 1px rgb(14, 102, 225);
}

.radio-fade {
  appearance: none;
  transition: all 0.3s ease; /* Smooth transition for all properties */
}

.radio-fade:checked {
  background-color: #1e90ff; /* Your blue color */
  border-color: #1e90ff;
}

.radio-fade:checked::before {
  background-color: #1e90ff; /* Inner circle or check mark color */
}

.radio-fade:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(30, 144, 255, 0.3); /* Blue shadow when focused */
}

.radio-fade::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.red-shadow {
  box-shadow: -5px 5px 0px red;
}

.green-shadow {
  box-shadow: -5px 5px 0px rgb(1, 180, 1);
}